.button {
  padding: 15px 25px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: -0.12px;
  color: #fff;
  border-radius: 150px;
  border: none;
  background-color: $dark-pink;
  line-height: normal;
  transition: all 0.2s ease;

  &:hover {
    background-color: $pink-active;
  }
}

.work__btn {
  background-color: transparent;
  border: 1px solid $water-white;

  &:hover {
    background-color: $water-white;
    color: $mirage-blue;
  }
}
