.button {
  padding: 15px 25px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: -0.12px;
  color: #fff;
  border-radius: 150px;
  background-color: $dark-pink;
  line-height: normal;
  transition: all 0.2s ease;

  &:hover {
    background-color: $pink-active;
  }
  &:active {
    opacity: 0.5;
  }
}
